
<pre>
"Strike me down and I will become more dead than you can possibly imagine!"
 &mdash; Borderlands 3

They say that the eyes of some paintings can follow you around the room,
a fact that I doubt, but I am wondering whether some music can follow you
for ever.
    -— Snuff: A Discworld Novel by Terry Pratchett

There's "belt and suspenders", but this is "belt and suspenders and maybe
I'll staple my pants to my waist because somebody might want to come along
in the future and invent a pants-pulling-down machine".
 &mdash; me

I was alive for the start of the Unix epoch in 1970, and I will (hopefully)
be alive for the Unix apocalypse in 2038.
 &mdash; me

   I before E
 Except after C
  Disproved by
    Science
 &mdash; Vince the Sign Guy

Anything can be a UFO if you're not very curious.
 &mdash; Alexandra Petri (@petridishes on Twitter)

Puppies make the harmonics warmer.
 &mdash; Ken "Flux" Pierce, @Fluxwithit on YouTube, after letting his into the
       studio

A computer can never be held accountable. Therefore, a computer must never
make a management decision.
 &mdash; IBM slide, 1979

Words make you think a thought. Music makes you feel a feeling. A song makes
you feel a thought. &mdash; E. Y. Harburg

Should array indices start at 0 or 1? My compromise of 0.5 was rejected
without, I thought, proper consideration.
 &mdash; Stan Kelly-Bootle

Don't force your children to become like you, for they were created
for a different time than yours.
 &mdash; Ali ibn al-Tailb

We are what they grow beyond.
 &mdash; Yoda in The Last Jedi

[I grew up] attending memorization and myth houses as prescribed
by the ruling pair.
 &mdash; From a co-worker's written introduction to the team

Intelligence looks in a mirror and sees ignorance.
Ignorance looks in a mirror and sees intelligence.
 &mdash; @TheTweetOfGod on Twitter

Hardware eventually fails. Software eventually works.
 &mdash; Michael Hartung

I find it's always fun to look at the historical side of things...
it's where we learn just how clever we're not. ;-)
 &mdash; Kirk Pepperdine

I'm not convinced that the solution to bad magic is more magic.
 &mdash; Brian Shaginaw

[T]he philosophical foundations of science are actually those of pure
punk-rock anarchy: never respect authority, never take anyones word on
anything, and test all the things you <em>think</em> you know to confirm or deny
them for yourself. &mdash; Ryan North, <em>How to Invent Everything</em>

The ones looking for truth, well, they're never the bad guys.
 &mdash; Angus McDonald, Boy Detective in <em>The Adventure Zone</em>

It slices, it dices, it holds magazines, changes your tires, records phone
messages, and makes you look YEARS younger! All for the amazing price of
$8.95 ($12.95 for 8-track tapes)! Send before midnight so you don't forget!
 &mdash; me

I aced my Music Theory final, bumping my grade up from a C to a C#.
 &mdash; @KeatonPatti on Twitter

An email sig seen on a mailing list I'm on:
"Sent by magic from my Glowing Tablet of Wonder"

You're not full stack unless you're smelting your own copper.
 &mdash; /u/in0pinatus on Reddit

"This entire thing is the quote, not just the part in quote marks."
[Quote marks, brackets, and editor's note are all in the original. &mdash; ed.]
 &mdash; Randall Munroe, xkcd #1942

When the beard is black, take the reasoning, ignore conclusions.
When gray, take both reasoning & conclusions.
When white, just conclusions.
 &mdash; @nntaleb on Twitter

The inside of a computer is as dumb as hell but it goes like mad!
 &mdash; Richard Feynman

So "free code" tends to be "free as in puppy" rather than "free as in beer".
 &mdash; Terry Crowley, <em>Complexity and Strategy</em>

America: a one million word vocabulary, two political parties.
 &mdash; me

It used to be the case that people were admonished to "not re-invent the
wheel". We now live in an age that spends a lot of time "reinventing the
flat tire!"
 &mdash; Alan Kay on Hacker News

At the end of the game, the king and the pawn go back into the same box.
 &mdash; old Sicilian proverb

It's a terrible thing, I think, in life to wait until you're ready. I have
this feeling now that actually no one is ever ready to do anything. There is
almost no such thing as ready. There is only now. And you may as well do it
now. Generally speaking, now is as good a time as any. &mdash; Hugh Laurie

Estimating the time it would take to run an algorithm once for every human:
O(the humanity).
 &mdash; me

The obvious fixes didn't work for less than obvious reasons.
 &mdash; Josh Lauer

Much to my chagrin, I realized that The Batman is a vi user. Bats is modal.
He has to keep switching between being Bruce Wayne and being The Batman.
Yup: vi, alright.
 &mdash; me

When Senegalese Mozillan Ibrahima Sarr translated Firefox OS into Fulah,
he had to coin an entire technological vocabulary, so "crash" became
"hookii" (a cow falling over but not dying).
 &mdash; BoingBoing

There's technical debt, then there's technical subprime mortgages
with exploding balloon payments.
 &mdash; @markimbriaco on Twitter

Every time I change my password, I have to get a new pet.
 &mdash; @GeorgeTakai on Twitter

Instead of regarding the obligation to use formal symbols as a burden, we
should regard the convenience of using them as a privilege: thanks to them,
school children can learn to do what in earlier days only genius could
achieve. &mdash; E. W. Dijkstra

Amateurs practice until they get it right, professionals practice until they
can't get it wrong.
 &mdash; Unknown

There's an old musicians' saying: If you don't practice for one day, you
notice. If you don't practice for two, other musicians notice. Three days
and everybody notices.

As a species, we have the decision-making priorities of a 13-year-old
boy; our heads are optimized for a short brutish race to procreation.
 &mdash; David Koosis

The Universe is under no obligation to make sense to you.
 &mdash; Neil deGrasse Tyson

Programming is like sex. I don't want to be a sex educator, a sex
consultant, or an agile sex coach. I just want to have sex.
 &mdash; @raganwald on Twitter

I wrote somewhere once that the third-rate mind was only happy when it was
thinking with the majority, the second-rate mind was only happy when it was
thinking with the minority, and the first-rate mind was only happy when it
was thinking. &mdash; A.A. Milne

Supercomputers are an expensive tool for turning CPU-bound problems
into IO-bound problems.
 &mdash; Unknown

The Inuit now have over 250 words for 'Sapir-Whorf hypothesis'.
 &mdash; @baconmeteor on Twitter

There are two kinds of paranoia: Total, and insufficient. I am both, because
if you think you are sufficiently paranoid, you're not.
 &mdash; Guildenstern, <em>Rosencrantz and Guildenstern are Dead</em> by Tom Stoppard

I am rarely happier than when spending an entire day programming my computer
to perform automatically a task that would otherwise take me a good ten
seconds to do by hand.
 &mdash; Douglas Adams

While I am describing to you how Nature works, you won't understand why
Nature works that way. But you see, nobody understands that.
 &mdash; Richard Feynman

All music is just performances of 4'33" in studios where another band
happened to be playing at the time.
 &mdash; xkcd #1199 (alt text)

Java: write once, run screaming.
 &mdash; seen on G+

Q. How many geeks does it take to ruin a joke?
A. You mean nerd, not geek. And not joke, but riddle. Proceed.
 &mdash; @saucypickles on Twitter

It's hard to do a really good job on anything you don't think about in the
shower.
 &mdash; Paul Graham

This .sig intentionally left blank.

For me, I am driven by two main philosophies: Know more today about the
world than I knew yesterday, and lessen the suffering of others. You'd be
surprised how far that gets you.
 &mdash; Neil deGrasse Tyson

A book which, above all others in the world, should be forbidden,
is a catalogue of forbidden books.
 &mdash; Georg Christoph Lichtenberg

We accumulate our opinions at an age when our understanding is at its
weakest.
 &mdash; Georg Christoph Lichtenberg

There is no more important rule of conduct in the world than this: attach
yourself as much as you can to people who are abler than you and yet not so
very different that you cannot understand them.
 &mdash; Georg Christoph Lichtenberg

Delight at having understood a very abstract and obscure system leads most
people to believe in the truth of what it demonstrates.
 &mdash; Georg Christoph Lichtenberg

Lower your voice and strengthen your argument. &mdash; Lebanese proverb

Everyone is entitled to his own opinion, but not his own facts.
 &mdash; U.S. Senator Daniel Patrick Moynihan

I have an intermittent problem. Guess I need a new intermittent.
 &mdash; Unknown

QA Engineer walks into a bar. Orders a beer. Orders 0 beers. Orders
999999999 beers. Orders a lizard. Orders -1 beers. Orders a sfdeljknesv.
 &mdash; @sempf on Twitter

Techie Booze Guidelines: Developers drink beer. QA drinks wine. Ops drinks
hard liquor. DBAs drink the blood of the innocent.
 &mdash; @ernestmueller on Twitter

The only difference between screwing around and science is writing it down.
 &mdash; Adam Savage, Mythbuster

Babbage Engine Servitor

Smalltalk and Lisp are the Cronos and Gaea of programming languages.
 &mdash; breetai on reddit

The first rule of the tautology club is the first rule of the tautology club!
 &mdash; TheCarp on Slashdot

That inspiration comes, does not depend on me. The only thing I can do is
make sure it catches me working.
 &mdash; Pablo Picasso

The bureaucracy is expanding to meet the needs of the expanding bureaucracy.
 &mdash; Oscar Wilde

In what language other than Lisp is the basic unit of work called a "fun"?
 &mdash; me

Some people espouse the Golden Rule, I prefer the Golden Mean: Treat others
1.618 times as well as you would like to be treated.
 &mdash; @Angry_Drunk on Twitter

When one uses emacs, one amuses oneself. When one uses vi one amuses other
people.
 &mdash; The Importance of Being Emacs

The greatest proof that time travel isn't possible is that no future
selves have yelled at me to stop messing the heck up.
 &mdash; T-Rex, Dinosaur Comics, www.qwantz.com

If ghosts exist and are as common as those stupid TV shows would have it,
isn't the "paranormal" just the "normal"?
 &mdash; me

(An unmatched left parenthesis creates an unresolved tension that will stay
with you all day.
 &mdash; xkcd

There's no such thing as an infinite loop. Eventually, the computer will
break.
 &mdash; John D. Sullivan

Censorship is telling a man he can't eat a steak because a baby can't
chew it.
 &mdash; Mark Twain

Fools ignore complexity; pragmatists suffer it; experts avoid it; geniuses
remove it.
 &mdash; Alan Perlis

A man beside me is scratching a small stick against an ultrathin wood-like
substance producing what looks like words typed in a custom font.
 &mdash; @chadfowler on Twitter

What does a zombie Billy Mays say? STAAAAAAAINS!
 &mdash; Victoria Menard

The moment I die, a half-diminished chord is going to wake up and say "I
just had the craziest dream."
 &mdash; Jonathan Coulton on Twitter

If demon near particle accelerator confess dilettante from line dancer, then
clock about takes a coffee break.
 &mdash; Spam email

You don't use science to show that you're right, you use science to become
right.
 &mdash; xkcd

You know what they say the modern version of Pascal's Wager is? Sucking up to
as many Transhumanists as possible, just in case one of them turns into God.
 &mdash; Julie from "Crystal Nights" by Greg Egan

The generation of random numbers is too important to be left to chance.
 &mdash; Anonymous Coward on Slashdot

I wish that, just once, some terrorist would try something that you can only
foil by upgrading the passengers to first class and giving them free drinks.
 &mdash; Bruce Schneier

Never underestimate the abilities of someone who's read ALL of section 1 of
the Unix manual.
 &mdash; Rich Kulawiec, on the IP mailing list

TUESDAY. The day you realize that nothing can stop you, because you are a
MAGIC SKELETON packed with MEAT and animated with ELECTRICITY and
IMAGINATION. You have a cave in your face full of sharp bones and five
tentacles at the end of each arm. YOU CAN DO ANYTHING, MAGIC SKELETON
 &mdash; @ChuckWendig on Twitter

Power corrupts. Solar power corrupts heliocentrically.
 &mdash; Surviving the World, http://survivingtheworld.net/

Building my antisocial network of nonparticipaters. Response has been huge, I
think.
 &mdash; @gregoryg on Twitter

Technology is anything that wasn't around when you were born.
 &mdash; Alan Kay

There's a fine line between stupid and clever.
 &mdash; Spinal Tap

I am tired of acquiring wisdom. Somebody bring me a drink and a whoopie
cushion.
 &mdash; Cornelius Talbot

I urge you to please notice when you are happy, and exclaim or murmur or
think at some point, "If this isn't nice, I don't know what is."
 &mdash; Kurt Vonnegut, Jr.

The ancient Greek definition of happiness was the full use of your powers
along lines of excellence.
 &mdash; John F. Kennedy

I suffer from CDO. It's like OCD, but all the letters are in the right order.
Like they should be.
 &mdash; navyjeff on slashdot

Just because nobody understands what you're doing doesn't mean you're a
genius.
 &mdash; Richard Ross

[So-and-so] would be brilliant if he had a time machine.
 &mdash; Geir Magnusson Jr

When you don't create things, you become defined by your tastes rather
than ability. Your tastes only narrow and exclude people. So create.
 &mdash; _why the lucky stiff_

Ruby and Smalltalk and dynamic runtimes,
Emacs and shell scripts and UNIX command lines,
Macros and lambdas and networking pings,
These are a few of my favorite things.
 &mdash; me

MIDI and waveforms and Cm9 chords,
Pitch modulation and aftertouch keyboards,
Splitting and layering organs and strings,
These are a few of my favorite things.
 &mdash; me

[G]ood programming ... [is] like sex: you're not necessarily good at it
just because you're enjoying yourself. It depends what your partners'
experience is.
 &mdash; TheophileEscargot in a blog comment

Pisces: You will be busy exchanging ions across your gill membranes
today &mdash; watch out for predators, and trust your lateral line organs.
 &mdash; Pharyngula (http://scienceblogs.com/pharyngula)

ruby -e 'x="";[9,-1,4,-45,42,-1,4,0,-8,9,-13,17,-14,-54,53,12,-2].
  inject(?a.ord){|a,c|x<<(a+c).chr;a+c};puts x'

When a distinguished but elderly scientist states that something is possible,
he is almost certainly right. When he states that something is impossible, he
is very probably wrong.
 &mdash; Clarke's First Law, Arthur C. Clarke

The most likely way for the world to be destroyed, most experts agree, is by
accident. That's where we come in; we're computer professionals. We cause
accidents.
 &mdash; Nathaniel S. Borenstein

Good engineering is hard to find, but bad engineering is fun to laugh at.
 &mdash; Dan Franklin, on the xBBN mailing list

There are two kinds of people, those who finish what they start and so on.
 &mdash; Robert Byrne

My 7 year old daughter: "What's a Mad Scientist?"
Me: "Um, like a scientist who does crazy things with their science."
Her: "Oh. I think I'll be a Mad Geologist."
 &mdash; Posted by John at Chaotic Utopia

What is work? Work is of two kinds: first, altering the position of matter at
or near the earth's surface relatively to other such matter; second, telling
other people to do so.
 &mdash; Bertrand Russell, "In Praise of Idleness"

A pizza of radius z and thickness a has a volume of pi z z a
 &mdash; Slashdot sig of Andy_R

Eternity is a very long time, especially towards the end.
 &mdash; Stephen Hawking

You can gain experience, if you are careful to avoid empty redundancy. Do not
fall into the error of the artisan who boasts of twenty years experience in
his craft while in fact he has had only one year of experience &mdash; twenty
times. &mdash; Trevanian, in Shibumi

For a list of all the ways technology has failed to improve the quality of
life, please press three.
 &mdash; Alice Kahn

I can calculate the motion of heavenly bodies, but not the madness of
people.
 &mdash; Sir Isaac Newton

If you put a million monkeys at a million keyboards, one of them will
eventually write a Java program. The rest of them will write Perl programs.
 &mdash; Anonymous

Perl's spec is a printout of Larry's source code, which looks the same in
ascii, ebcdic, and gzipped binary form.
 &mdash; Steve Yegge, "scheming-is-believing"

You can learn a lot about a person if you just take the time to inject them
with sodium pentothal.
 &mdash; Alicat1194

Those who would give up essential Liberty, to purchase a little temporary
Safety, deserve neither Liberty nor Safety.
 &mdash; Benjamin Franklin

Give me an underground laboratory, half a dozen atom-smashers, and a girl
in a diaphanous veil waiting to be turned into a chimpanzee, and I care not
who writes the nation's laws.
 &mdash; S.J. Perelman

Programming communities need collective nouns. An obfuscation of Perl
hackers. A stalwart of C coders. A furrow of assembly wranglers. An effusing
of Ruby hackers. An ulcer of CSS authors. A grumbling of Lisp coders.
 &mdash; Anonymous blog comment

I always thought Smalltalk would beat Java, I just didn't know it would be
called 'Ruby' when it did.
 &mdash; Kent Beck

Axiom : Any technical group of sufficient size and activity will
spontaneously generate its very own sociopath.
 &mdash; Joe Gregorio

10 percent of computer users are Mac users, but remember, we are the top 10
percent.
 &mdash; Douglas Adams

On a long enough time scale, I guess ALL variables are temporary.
 &mdash; "John Bigboote", in a comment on thedailywtf.com

Other than telling us how to live, think, marry, pray, vote, invest, educate
our children and, now, die, I think the Republicans have done a fine job of
getting government out of our personal lives.
 &mdash; Craig Carter

When all a programmer has is a hammer, all screws appear to be stupid.
 &mdash; W. Jason Gilmore, paraphrasing a comment overheard at PyCon

In programming, do, or undo. There is always try. &mdash; Yoda (via Ron Jeffries)

Can Emacs fly backwards around the world to turn back time? Which vulcan-grip
key combo is that?" "Control-Time, of course. Actually, you have to prefix
that with a negative number, if you want to go back. Obviously."
 &mdash; http://c2.com/cgi/wiki?EmacsIsSuperman

The iMac is just evidence of how dangerous vi is. Obviously Steve came up
with the name by accident after forgetting he was *already* in insert mode.
 &mdash; dagbrown on #emacs

I think it would be harder for a good programmer to change editors than
to change languages.
 &mdash; Kenny Tilton in comp.lang.smalltalk

Don't let what you can't do stand in the way of what you can.
 &mdash; John Wooden

Ben Zealley's corollary to Clarke's Third Law: "If you cannot distinguish my
technology from magic, you are insufficiently advanced."

Any sufficiently advanced technology is insufficiently documented.
 &mdash; kabdib on slashdot

Any sufficiently advanced technology is indistinguishable from a Perl
script.
 &mdash; Programming Perl, 2nd edition

Any technology which is distinguishable from magic is insufficiently
advanced.
 &mdash; Unknown

Any sufficiently advanced continent is indistinguishable from Diskworld.
 &mdash; John Dean in alt.fan.cecil-adams

Any sufficiently advanced technology is indistinguishable from a rigged demo.
 &mdash; Unknown

Any sufficiently advanced technology with a poorly-designed user interface
is indistinguishable from evil.
 &mdash; @Loh on Twitter

Despite the surge of power you feel upon learning Ruby, resist the urge to
trip others or slap them in the bald head. DO NOT LORD YOUR RUBYNESS OVER
OTHERS!
 &mdash; _why the lucky stiff_ on ruby-talk

An engineer is someone who does list processing in FORTRAN.
 &mdash; .sig of TimC, seen in rec.humor.oracle.d

I've always found [the news media] quite accurate, except when they're
reporting on a topic I know something about.
 &mdash; Keith F. Lynch on rec.arts.sf.fandom

So this comedian goes onstage and stands in front of the mike. Everyone in
the audience goes wild with laughter, and then the comedian says "By the way,
all your drinks have been spiked with thiotimoline".
 &mdash; David Silberstein in rec.arts.sf.written

read my lisps: ich bin ein emacser
 &mdash; tekonivel on #emacs

Innovation is not about saying yes to everything. It's about saying NO to all
but the most crucial features.
 &mdash; Steve Jobs

...it uses Smalltalk, rather than modern-day kludges such as Java, which
resembles a modern object-orientated environment in the way that a pub ashtray
resembles a cigar store.
 &mdash; Andrew Orlowski, "Forgotten language enables nonstop gadgets", The Reg

Generics in Java are an apology for having collections of Objects, and are
somewhat like the puritan's suspicion that someone, somewhere, might be
enjoying themselves.
 &mdash; Steven T Abell in comp.lang.smalltalk

Java 1 was of the 90's. Java 5 generics came from the 70's. Java 8 lambdas
come from the 40's. Java 20 will have a steam regulator.
 &mdash; @jamesiry on Twitter

Linux - because Mommy taught me to share.
 &mdash; miracle69 on slashdot

I sit in a chair, pressing small plastic rectangles with my fingers while
peering at many tiny, colored dots.
 &mdash; me

Computer Science is no more about computers than astronomy is about
telescopes.
 &mdash; E. W. Dijkstra

Emacs is like a brain, at maximum you can only utilize about 10% of its real
power :)
 &mdash; delYsid on #emacs

Lisp is the red pill.
 &mdash; John Fraser, comp.lang.lisp

Opportunity is missed by most people because it is dressed in overalls and
looks like work.
 &mdash; Thomas A. Edison

Scissors cuts Paper covers Rock crushes Lizard poisons Spock smashes Scissors
decapitates Lizard eats Paper disproves Spock vaporizes Rock crushes Scissors
 &mdash; Rock Paper Scissors Spock Lizard,
       http://www.samkass.com/theories/RPSSL.html

College students tend to rate all knowledge based on its ability to supply
them with beer. (There's an implicit conversion between money and beer that
occurs in there - but its transparent to the thought process).
 &mdash; Todd Blanchard

I have a red sign on my door. It says "If this sign is blue, you're moving
too fast."
 &mdash; pyros on slashdot

An operating system is a collection of things that don't fit into a
language. There shouldn't be one.
 &mdash; Dan Ingalls

[On the Apple supercomputer at Virginia Tech] Besides if an AI manifests
itself it'd be less likely to destroy the world and more likely to tell you
that your white socks do not match your purple tie.
 &mdash; Epistax on Slashdot

As far as I've seen, once those XML worms eat into your brain, it's hard
to ever get anything practical done again. To an XML person, every nail
looks like a thumb. Or something like that.
 &mdash; fejj on advogato.org

All this pseudo-template stuff is just fear dressed up as syntax.
 &mdash; Dave Thomas, commenting on Java's new generics.

No quantity can be harder to perceive and harder to measure than
innovation that never occurs.
 &mdash; J. Gleik

Yes, I know /. is slanted. It still irritates me though.
 &mdash; CrayzyJ on slashdot
Well, if it wasn't slanted it'd be |.
 &mdash; Eunuchswear on slashdot

Carpe per diem... sieze the pay.
 &mdash; "miker" in rec.music.makers.builders

Even your Magic Eight Ball can tell you, "Outlook not so good."
 &mdash; Chris Mattern in rec.arts.anime.misc

Thanks to the joint efforts of OpenOffice, Mozilla, and a few others, Emacs
officially entered the category of lightweight utilities.
 &mdash; kalifa on /.

# A Ruby script that prints all the digits of pi (sorted).
(0 .. 9).each { | i | print i while true }

[H]ave these people *really* got so little to say, that they go around
quoting other people?
 &mdash; andyt

A: Yes
Q: Is top-posting bad?
 &mdash; Derek Milhous Zumsteg

"Deconstruct and recontextualize" sounds fancier than "cut and paste",
but it's the same thing.
 &mdash; Donald Welsh in rec.humor.oracle.d

I went on the Internet to find out how to prevent squirrel damage.
 &mdash; Betty March

This looks like a job for emergency pants!
 &mdash; Torg, www.sluggy.com

Anyone else picturing Wallace sitting in front of a Rube Goldburgesque
workstation, accidentally booting up Netscape and crying out, 'It's the
wrong browser, Grommit!' ?
 &mdash; Jim Evans in rec.humor.oracle.d

Indeed, an upsettingly large part of academia right now seems to be
working on bringing Java into the 1980s... sigh.
 &mdash; Avi Bryant

I want to be remembered as someone who's not dead.
 &mdash; Christine Peterson

HTML belongs in email the way vinyl siding belongs on gerbils.  Sure
its cute at first, but its just plain WRONG!!!
 &mdash; .sig of Carmiac

The best way to predict the future is to invent it.
 &mdash; Alan Kay

The American legal system is, of course, just the British kernel with a
shorter uptime and a few clumsy security patches slapped in.
 &mdash; www.ntk.net

If you ever fear that machines will surpass humans in intelligence, just
ask Microsoft to write the OS.
 &mdash; pieceoftheuniverse in rec.humor.oracle.d

Linux was released on August 25th, 1991. Therefore it is a Virgo, not a
Cancer.
 &mdash; Kevin Lyda

My parents just came back from a planet where the dominant lifeform
had no bilateral symmetry, and all I got was this stupid F-Shirt.
 &mdash; .sig of Paul Archer

The wonder of all these Internet security problems is that they are
continually labeled as "e-mail viruses" or "Internet worms," rather than
the more correct designation of "Windows viruses" or "Microsoft Outlook
viruses." &mdash; Robert X. Cringely

Lead me not into temptation. I can find it myself.
 &mdash; Jeffrey Kaplan's .sig, seen in rec.humor.oracle.d

It's overkill, of course. But you can never have too much overkill.
 &mdash; Anonymous Coward on slashdot.org

Source code in files. How quaint.
 &mdash; Attributed to Kent Beck

Good code in perl is fine, but there's something about bad code in perl
that's worse than bad code in other languages, something very HP-Lovecraft-
mad-servants-of-the-elder-gods-chattering-in-the-extradimensional-
insect-language kind of bad that makes my head hurt when I have to read
it. &mdash; Jish Karoshi in comp.lang.ruby

There are three principal ways to lose money: wine, women, and engineers.
While the first two are more pleasant, the third is by far the more
certain.
 &mdash; Baron Rothschild, ca. 1800

I can picture in my mind a world without war, a world without hate. And I
can picture us attacking that world, because they'd never expect it.
 &mdash; Jack Handey

I've memorized all the digits of pi. Just not the order they go in.
 &mdash; Charles A. Lieberman, in rec.humor.oracle.d

I used to have a Heisenbergmobile. Every time I looked at the speedometer,
I got lost.
 &mdash; Critical Path in alt.geek

I cannot articulate enough to express my dislike to people who think that
understanding spoils your experience... How would they know?
 &mdash; Marvin Minsky

A language that doesn't affect the way you think about programming, is not
worth knowing.
 &mdash; Alan J. Perlis

If the Computer is a universal control system, let's give kids universes
to control.
 &mdash; Theodore H. Nelson (1974)

I invented the term Object-Oriented, and I can tell you I did not have C++
in mind.
 &mdash; Alan Kay

Specifying an object, sending it a message, and getting back another
object as the result are the only things that ever happen in Smalltalk
code.
 &mdash; Ted Kaehler/ Dave Patterson, A Taste of Smalltalk

Quotation confesses inferiority.
 &mdash; Ralph Waldo Emerson

Linux is like a wigwam. No windows, no gates and an apache inside.
 &mdash; Unknown

No, no, you're not thinking; you're just being logical.
 &mdash; Niels Bohr

Rumor has it the internet is out of money. Pack your stuff and go home.
 &mdash; "Pud", www.f***edcompany.com

"COGITO, EGGO SUM." I think, therefore I am a waffle.
 &mdash; .sig of Mr. Ska on Slashdot.org

I am sure that like Java, [C#] will be a "no pointer" language, where the
most common runtime error will be a "NULL pointer exception".
 &mdash; Jerry Kott, in comp.lang.smalltalk

The Net interprets censorship as damage and routes around it.
 &mdash; John Gilmore, EFF

Space Opera. It's not over until the fat lady explosively decompresses...
 &mdash; Matt Ruff / Lisa Gold, rec.arts.sf.written

My other car is a cdr. &mdash; .sig of wishus on Slashdot.org

Build a man a fire and he's warm for the rest of the evening.
Set a man on fire and he's warm for the rest of his life.
 &mdash; Steve Taylor, in comp.lang.smalltalk

Sell a man a fish, he eats for a day.
Teach a man to fish, you've lost a customer.
 &mdash; hartley_h, in comp.lang.perl.misc

Do Squeakers Dream of Electric Mice? &mdash; Mike Thomas
    (http://www.squeak.org)

What's a Superbowl? Does it save the city from ruin and destruction ON TOP
OF containing some part of a complete breakfast? &mdash; J. on alt.fan.tom-servo

How do you keep an Englishman entertained in his dotage? Tell him a joke
when he's young. &mdash; Charles-A. Rovira

Mind you, deep in the IBM VM operating system source we once found a
comment that said "remember to collect laundry on way home".
 &mdash; Alan J. Flavell in comp.lang.perl.misc

Anyway, I heard that The Artist Formerly Known As Prince has now renamed
himself "The Artist", making his full title "The Artist, Formerly Known As
The Artist Formerly Known As Prince, Formerly Known As Prince". &mdash; Screwtape

All those who believe in psychokinesis raise my hand. &mdash; Anon.

As a math major, I don't have to be able to add &mdash; I just have to be able
to PROVE that I can add.
 &mdash; me

Given infinite time, 100 monkeys could type out the complete works of
Shakespeare. Win 98 source code? Eight monkeys, five minutes.
 &mdash; NullGrey

Come to think of it, there are already a million monkeys on a million
typewriters, and Usenet is NOTHING like Shakespeare.
 &mdash; Blair Houghton

$665.95: The Retail Price of the Beast &mdash; Unknown

333. Mini-Me to the beast. &mdash; Dave Hinz on rec.humor.oracle.d

333: Eric the Half A Beast &mdash; Tim Allen in rec.humor.oracle.d

I know you're not all figments of my imagination, because if you were,
you'd all look like beautiful models, and you'd also all be giving me
money. That's what *I* would imagine.
 &mdash; Paul L. Kelly in rec.humor.oracle.d

Power corrupts.  Absolute power is kinda neat.
 &mdash; Jeffrey Kaplan in rec.humor.oracle.d

Maybe we could change the [SETI] program's title to "Search for
Extra-Terrestrial Intelligence and Girl-girl Action!". That would get the
ol' tax dollars rolling in... &mdash; Bill East in rec.humor.oracle.d

The reason why there is no good commercial Java development environment
is that the only folks that are good enough to write one all use EMACS.
 &mdash; Unknown, on comp.lang.java.programmer

Never anthropomorphize computers. They hate that. &mdash; Ricdude on slashdot

Any sufficiently complicated C or Fortran program contains an ad hoc
informally-specified bug-ridden slow implementation of half of Common Lisp.
 &mdash; Greenspun's Tenth Rule of Programming

Congratulations are in order for Tom Reid. He says he just found out he is
the winner of the 2021 Psychic of the Year award. &mdash; Seen on slashdot

If you mark half [of this newsgroup's] posts as read, you still get
basically all the same information, just with a bit less detail. [This] is
a holographic newsgroup. &mdash; Tom "Tom" Harrington in rec.humor.oracle.d

You might do well to heed the bumper sticker on a laser I had once:
do not look into laser with remaining eye.
 &mdash; Daniel E. Macks

The world is divided into one group: those who start counting at 0,
and those who don't. &mdash; Unknown

BeOS: The Jackie Chan of operating systems. &mdash; Pat Gratton
...Except Jackie Chan is still alive.

You will notice that BeOS has taken the best parts from all the major
operating systems and made them its own. We've got the power of the Unix
command line, the ease of use of the Macintosh interface, and Minesweeper
from Windows. &mdash; Tyler Riti

Dvorak users of the world flgkd! &mdash; Kirsten Chevalier in rec.humor.oracle.d

"Master, does Emacs have the Buddha nature?" the novice asked.
"I don't see why not. It's got bloody well everything else."
 &mdash; John Fouhy

Unix is extremely user-friendly. It also happens to be extremely
selective when picking its friends. &mdash; Daniel E. Macks

If at first you don't succeed, don't go skydiving. &mdash; Unknown

T-shirts are the computer industry's only persistent objects.
 &mdash; Seen in R. L. Peskin's .sig

Ask not a question of USENET, for it will answer both "Yea." and "Nay."
and "Ask in another group." &mdash; Simon Slavin

Cheat sheet for the 21st century: Closed, bad. Open, good. &mdash; Wired

The Be staff...went to see the movie "Men in Black." ...The movie makes
a point that is somehow appropriate &mdash; It is impossible to completely rid
the universe of bugs, but at least you can drive something fast, arm
yourself with powerful tools, and look good doing it. &mdash; markg@be.com

We've heard that a million monkeys at a million keyboards could produce the
Complete Works of Shakespeare; now, thanks to the Internet, we know this is
not true. &mdash; Robert Wilensky, University of California

 &mdash; - BEGIN META GEEK CODE ----
gc
 &mdash; - END META GEEK CODE ----

The human mind is a dangerous plaything, boys. When it's used for evil,
watch out! But when it's used for good, then things are much nicer.
 &mdash; The Tick

The theory of computation states that all automatons can be emulated by a
Turing machine. I have a less abstract but more practical motto: If you can
do it on Intel, you can do it damn near anywhere! &mdash; Eugene O'Neil

An object at rest cannot be stopped!
 &mdash; The Evil Midnight Bomber What Bombs At Midnight

Yes, evil comes in many forms, whether it be a man-eating cow or Joseph
Stalin, but you can't let the package hide the pudding! Evil is just plain
bad! You don't cotton to it. You gotta smack it in the nose with the
rolled-up newspaper of goodness! Bad dog! Bad dog! &mdash; The Tick

You guys have made me the happiest giant talking worm in the world.
 &mdash; Earthworm Jim

Sanity is a one-trick pony: rationality is all you get. With insanity,
the sky's the limit! &mdash; The Tick

Is "anal-retentive" hyphenated? &mdash; Alison Bechdel

It's the wrong trousers, Gromit. And they've gone wrong! &mdash; Wallace

Verbing weirds language. &mdash; Calvin

Even anarchists have an agenda. &mdash; Keith Beal

Don't eat crackers in the bed of your future or you'll get ... scratchy!
 &mdash; The Tick

Yeah, well, don't count your weasels before they pop, dink. &mdash; The Tick

Slideshow ... boring. Loosing ... consciousness ... &mdash; The Tick

Eating kittens is just plain ... plain wrong! And no one should do it, ever!
 &mdash; The Tick

This looks like a job for Legal Tender! &mdash; The Tick

"SPOON!" &mdash; The Tick's battle cry
"Not in the face!  Not in the face!" &mdash; Arthur's battle cry

I don't know the meaning of the word surrender! I mean, I know it, I'm not
dumb ... just not in this context. &mdash; The Tick

Hey, wait a minute. You've got both eyes! You're no special agent.
You're just some jerk who hates my moustache! - The Tick

I have found that humans often use Smalltalk during awkward moments.
 &mdash; Commander Data, ST TNG

Abraham Lincoln didn't die in vain. He died in Washington, D.C.
 &mdash; Firesign Theatre

Brought to you again by the Department of Redundancy Department.
 &mdash; Firesign Theatre

Java: the elegant simplicity of C++ and the blazing speed of Smalltalk.
 &mdash; Kirk Pepperdine

Dash dash space newline
Four-line witty quotation
Perfect message end
 &mdash; Donald Welsh in rec.humor.oracle.d

WS-* is to REST as Theory is to Practice
 &mdash; Title of blog post by Dare Obasanjo

Time flies like an arrow, fruit flies like a banana.
 &mdash; Groucho Marx
</pre>
